@tailwind base;
@tailwind components;
@tailwind utilities;
@import './reset.scss';
// @import './post.scss';

* {
    font-family: Microsoft YaHei UI, Microsoft YaHei, PingFang SC, Helvetica Neue, Helvetica, Nimbus Sans L, Arial, Liberation Sans, Hiragino Sans GB, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, WenQuanYi Zen Hei Sharp, sans-serif !important
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #EDECE9;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: #D3D1CB;
}
